.main-section-1{
    max-width: 940px;
    width: 100%;
    height: auto;
    background-color: blue;
    margin: 0 auto;
    border-radius: 15px 15px 0 0;
}

.section-1-top{
    width: 100%;
    height: 60px;
    background-color: rgba(35, 35, 35, 0.762);
    border-radius: 15px 15px 0 0;
}
.section-1-top-p{
    padding-top: 20px;
    text-align: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    width: 270px;
    height: 20px;
    margin: auto;
}
.x-icon{
    background-image: url(../assets/multipliers-img.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 10px;

}
 
/*section-1-middle*/
.section-1-middle{
    max-width: 940px;
    width: 100%;
    height: auto;
   
    margin: 0 auto;
    display: flex;
     flex-wrap: wrap;
    justify-content: space-between;

}

.section-1-middle-div{
    max-width: 630px;
    width: 100%;
    height: auto;
 
    display: flex;
   
    flex-direction: column;
    justify-content: space-around;
    padding-left: 35px;
    padding-top: 15px;
}


.section-1-box{
    width: 68px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(64, 67, 66, 0.578);
    font-size: 14px;
    text-align: center;
    align-items: center;
    padding-top: 3px;
    color: #fff;
    margin-bottom: 15px;
}

.section-1-div-p{
   
    
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.section-1-div-p2{
  
   
    color: white;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 15px;
}

.section-1-backgroundimg{
    background-image: url(../assets/prize-ka.png);
   max-width: 225px;
   width: 100%;
    height: 163px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -17px;  
}


/*  section 2*/
.main-section-2{
    max-width: 940px;
    width: 100%;
    height: 350px;
    margin: 0 auto;
}

.main-section-2-bg-img{
    background-image: url(../assets/banner.jpg);
    max-width: 940px;
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
}

.div-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 280px;
    position: relative;
    justify-content: space-around;
    align-items: center;
   
   
    width: 100%;
    height: auto;
    padding-top: 280px;
}
.section-2-container-img1{
    background-image: url(../assets/tab-bg-active.png);
    width: 252px;
    height: 132px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
   
}

.section-2-container-p1{
    color: #fff;
    font-weight: 200;
    
}
.section-2-container-p2{
    color: #fff;
    font-weight: bold;
    font-size: 25px;
}

.section-2-container-img2{
    background-image: url(../assets/tab-bg.png);
    width: 252px;
    height: 132px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.section-2-container-img3{
    background-image: url(../assets/tab-bg.png);
    width: 252px;
    height: 132px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.block-box{
    display: flex;
    justify-content: center;
}

.section-2-container-img4{
    background-image: url(../assets/tab-bg.png);
    width: 252px;
    height: 132px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
/*section 3*/

.main-section-3{
    max-width: 940px;
    width: 100%;
    height: 250px;
    margin: 0 auto;
    background-color: blue;
}  
.section-3-p{
    font-size: 20px;
    color: white;
    padding-top: 100px;
    text-align: center;
    font-weight: 200;
}         

.section-3-box{
    width: 518px;
    height: 40px;
    
    display: flex;
    align-items: center;
    margin:  70px auto;
}

.section-3-box1{
    background-color: rgb(0, 255, 26);
    width: 140px;
    height: 40px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    border-radius: 15px 15px 0 0 ;
}
.section-3-box2{
    background-color: rgb(31, 36, 100);

    width: 140px;
    height: 40px;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    border-radius: 15px 15px 0 0 ;
}

/*section-4*/
.main-section-4{
    max-width: 940px;
    width: 100%;
    height: auto;
    background-color: rgb(31, 36, 100);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section-4-box1{
    width: 415px;
    height: 438px;
    
    align-items: center;
    text-align: center;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.section-4-box1-p1{
    font-size: 18px;
    color: #fff;
    margin-top: 15px;
}
.section-4-box2-p1{
    font-size: 16px;
    color: #fff;
    margin-top: 15px; 
}
.section-4-box1-p2{
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
}

.section-4-table{
    width: 415px;
    height: 334px;
    background-color: rgb(29, 63, 122);
    border-radius: 15px;
}
.section-4-table-top{
    display: flex;
}
.section-4-table-top1{
    width: 217px;
    height: 29px;
    background-color: #2E9EA1;
    text-align: center;
    color: #fff;
    border-radius: 15px 0 15px 0;
    padding-top: 7px;
    font-weight: bold;
    z-index: 1;
}
.section-4-table-top2{
    width: 109px;
    height: 29px;
    background-color: #227C7E;
    text-align: center;
    color: #fff;
    border-radius: 15px 0 15px 0;
    padding-top: 7px;
    font-weight: bold;
    margin-left: -15px;
}
.div-text{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #9A9A9A;
}


.section-4-prize{
width: 316px;
height: 36px;
margin: 0 auto;
border-radius: 5px;
display: flex;
justify-content: space-between;
margin-bottom: 5px;
}
.section-4-position{
    width: 110px;
    height: 36px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.568);
    padding-top: 12px;
    border-radius: 5px 0 0 5px   ;
    font-size: 13px;
}
.section-4-prizes{
    width: 204px;
    height: 36px;
    text-align: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.568);
    padding-top: 12px;
    border-radius: 0 5px 5px 0;
    font-size: 17px;
    font-weight: bold;
}

.section-4-table2{
    width: 415px;
    height: 334px;
    background-color: rgb(29, 63, 122);
    border-radius: 15px;
}
.section-4-table2-top{
    display: flex;
}
.section-4-table2-top1{
    width: 217px;
    height: 29px;
    background-color: #F19020;
    text-align: center;
    color: #fff;
    border-radius: 15px 0 15px 0;
    padding-top: 7px;
    font-weight: bold;
    z-index: 1;
}
.section-4-table2-top2{
    width: 109px;
    height: 29px;
    background-color: #D2770E;
    text-align: center;
    color: #fff;
    border-radius: 15px 0 15px 0;
    padding-top: 7px;
    font-weight: bold;
    margin-left: -15px;
}

.section-4-lasttext{
   text-align: center;
   align-items: center;   
   color: #9A9A9A;
   margin: 25px auto;
}


/* section 5*/
.main-section-5{
    max-width: 940px;
    height: 500px;
    background-color: #1044c5;
    margin: 0 auto;
}
.main-section-5-p1{
font-size: 29px;
color: #fff;
padding-top: 70px;
}
.main-section-5-p2{
    font-size: 13px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 40px;
    }



    /*section-6*/
    .main-section-6{
        max-width: 940px ;
          width: 100%;
          height: auto;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
    background-color: rgb(31, 36, 100);

    }
    .section-6-p{
        font-size: 25px;
        color: #fff;
        text-align: center;
        margin: 20px auto;

    }
    .section-6-terms{
       max-width: 855px;
       width: 100%;
        height: 255px;
        margin: 0 auto;
    }

   .section-6-terms-1{
       width: 855px;
       height: 60px;
       background-color: rgba(24, 89, 154, 0.286);
       display: flex;
       justify-content: space-between;
       margin-bottom: 10px;
       border-radius: 5px;
       
   }
   .section-6-terms-p1{
       font-size: 15px;
       font-weight: 300;
       color: #fff;
       padding-top: 20px;
       padding-left: 15px;

   }


   /*footer*/

   .footer{
       max-width: 940px;
       width: 100%;
       height: 88px;
       background-color: #1044c5;
       border-top: 5px solid rgb(28, 255, 232);
       margin: 0 auto;
       display: flex;
       justify-content: space-around;
       align-items: center;
   }
   .first-part{
       width: 90px;
       height: 15px;
       font-size: 13px;
       color: #fff;
   }
   .second-part{
      width: 170px;
      height: 48px;
      background-color: #F19020;
      text-align: center;
      padding-top: 15px;
      border-radius: 5px;
   }
   .last-part{
    width: 100px;
    height: 15px;
    font-size: 13px;
    color: #fff;
}